/* #BF4E30 orange
E5D4CE pink
7FD1B9  blue
8A817C  grey
393D3F dark grey */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.headerFooter{
  bottom: 0px;
  /* position: absolute;   */
  width: 100%;  
  font-size: xx-large; 
  font-style: oblique; 
  font-variant: small-caps; 
  text-align: center;
  background-color: #E5D4CE;
  color: #393D3F;
  padding: 20px;
  margin-bottom: 0px;
}

.bookDisplay{
  width: 70%;
float: left;
}

.bookShelf{
  /* background:grey; */
  /* min-height: 600px; */
  margin-right: 0px;
  width: 30%;
  float: left;
}

.bookCopy{
    /* background: #7FD1B9;/ */
    background: #393D3F;
    margin-bottom: 0px;
    
    margin-left: 10px;
    margin-right: 10px;
    margin-top:1px;
    border-top-right-radius:  2% 90%;
    border-top-left-radius:  2% 90%;
    border-bottom-left-radius:  2% 90%;
    border-bottom-right-radius:  2% 90%;


}

.bookTitle{
  font-size: small;
  padding: 7px;
  padding-bottom: 12px;
  padding-top: 12px;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.76),  transparent 50%,   rgba(235, 232, 232, 0.342) );
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.76);
  border-top-right-radius:  2% 90%;
  border-top-left-radius:  2% 90%;
  border-bottom-left-radius:  2% 90%;
  border-bottom-right-radius:  2% 90%;
}


.dropdown {
  position: relative;
  display: inline-block;
  width:50%;
  margin: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  color:#393D3F;  
  font-size: small;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #E5D4CE;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width:100%;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content div{
  /* width: 100%; */
  color:393D3F;  
  padding: 6px;
}
.dropdown-content div:hover{
  background: #8A817C;
}

.dropdownSelect{
  padding: 6px;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  
}

.bookImages{
  width: 24%;
  float: left;
  /* margin: 5px; */
}
.bookImages img{
  width: 100%;
  border: 3px solid #8A817C;
  /* transition: .5s;/ */
  margin: 2px;
  /* float: left; */
}

.bookImages img:hover{
border: 5px solid #8A817C;
margin:0px;
}

.modalShadow{
  background-color: #8A817C99;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;

  height: 100%;
  z-index: 10;
  width: 100%;
}

.bookModal{
  padding: 10px;
    z-index: 15;
    background: #393D3F;
    color: #7FD1B9;
    margin: auto;
    max-height: 70%;
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 50%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.76);
    /* border-top-right-radius:  7px 7px;
    border-top-left-radius:  7px 7px;
    border-bottom-left-radius:  7px 7px;
    border-bottom-right-radius:  7px 7px; */

}

.col-8{
  float: left;
  width: 66%;
}

.col-6{
  float: left;
  width: 50%;
}

.col-4{
  width: 33%;
  float: left;
}

.col-4-m{
  width: 33%;
  float: left;
}

.col-6-m{
  float: left;
  width: 50%;
}

.closeModal{
  float: right;
    padding: 2px;
    border: 2px solid #393D3F;
    margin: 4px;
    color: #8A817C;
    background: initial;
    transition: 1s;
    position: absolute;
    bottom: 0;
    left: 0;

}
.closeModal:hover{ 
  background: #393D3F;
  color:#7FD1B9;
}

/* #E5D4CE */
.modalHeader{
  background: #7FD1B9;
  color: #393D3F;
  /* height: 28%; */
  /* background: #393D3F; */

    padding-bottom: 1px;
    padding-top:15px;
}

.modalBody{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
  height: 72%;
}
.heightAll{
  height: 100%;
}


.modalHeader h2{
  margin-top:0px;}


.graph-wrapper{
  min-width: 70%;
  /* min-height: 50%; */

}

.graph {
  display: flex;
  position: relative;
  margin-left: 7%;
  max-width: 86%;
  /* min-height: 400px; */
  background: #E5D4CE;
}

.bar-text-context{
  height: 100%;
  width: 20%;
  background: #393D3F;
}

.bar-lines-container{
  position: relative;
  width: 100%;
  height: 100%;
  background: #8A817C;;
}


.bar {
  position: relative;
  margin-left:16.6%;
  height: 16%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #7FD1B9;
  z-index: 25;
  border: 3px solid #E5D4CE ;
  border-left:2px solid #8A817C;
  border-radius: 0 3px 3px 0;
}

.labelCombo{
  min-height: 52px;

  /* height: 100%; */
}

.label{
  margin-top: -10px;
  justify-content: center;
  min-height: 60px;
  float: left;
  position: relative;
  background-color: #E5D4CE;
  padding: 2px;
  width: 16.4%;
  margin-left:2px;
  display: flex;
  align-items: center;
  z-index: 30;
  color:#393D3F;
  font-size: small;
}
.line {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #393D3F;
  left:10%;
}

.mainButton{
  padding: 7px 18px 7px 18px;
  border: 2px solid black;
  border-radius: 20px;  
  margin: 7px;
   background-color: #E5D4CE;
   color: black;
   transition: 1s;
}

.mainButton:hover,.mainButton:focus{
background: #8A817C;
color:  #E5D4CE}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.homeMain{
  /* width: 100%; */
  margin:20px;



}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #393D3F ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #393D3F;
}

.App-link {
  color: #393D3F;
  text-decoration: none;
}

.App-link:hover{
  text-decoration: underline;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 715px){



  .bookImages{
    width: 50%;
    float: left;
    /* margin: 5px; */
  }
.bookTitle{
  font-size: 8pt;
  padding-bottom: 9px !important;
  padding-top: 9px !important;
}
  .bookDisplay{
    width: 50%;
    float: left;
  }

/* */
.dropdown{
  width:80%;
margin: 5px;
}

.bookShelf{
  margin-right: 10px;
  width: 45%;
}

.mainButton{
  padding: 17px 35px 17px 35px;
}

.label{
  font-size: 12px;
}

.bookModal{
  width: 75%;

  max-height: 80%;
}
.modalBody{
  display: block;
  margin-top: 0px;
}

.col-4-m{
  width: 100%;
}

.col-6-m{
  width: 100%;
}

.graph{

  margin-left: 2.5%;
  max-width: 95%;
}

}